.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .nav-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    .nav-menu {
      font-weight: 1000;
      width: 400px;
      margin-left: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: black;
      li {
        position: relative;
        img {
          vertical-align: middle;
        }
        /*利用伪类制作尖角 绝对定位调整位置*/
        a::before {
          content: '';
          top: -5px;
          left: -5px;
          position: absolute;
          width: 10px;
          height: 10px;
          border-top: 2px solid #efb963;
          border-left: 2px solid #efb963;
          transition: all 0.3s;
        }
        a::after {
          content: '';
          bottom: -5px;
          right: -5px;
          position: absolute;
          width: 10px;
          height: 10px;
          border-right: 2px solid #efb963;
          border-bottom: 2px solid #efb963;
          transition: all 0.3s;
        }
        a:hover::after,
        a:hover::before {
          width: calc(100% + 8px);
          height: calc(100% + 8px);
        }
        .active {
          background-color: #b9e769;
          box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
          color: white;
          border: 0;
        }
      }
    }
    .nav-date {
      color: black;
      font-weight: bold;
      width: 120px;
      height: 100%;
      margin-right: 50px;
      display: flex;
      justify-content: space-between;
      .timeIcon {
        font-size: 30px;
      }
      .time {
        font-size: 20px;
        align-content: center;
      }
    }
  }
  .content {
    height: 100vh;
    // border: 1px solid;
    background-color: orange;
  }
}
