/* 重置默认样式 */
@font-face {
  font-family: electronicFont;
  src: url('/src/images/DS-DIGIT.TTF');
}

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: normal;
  font-size: value;
}

img {
  border: 0px;
}

.leftfix {
  float: left;
}

.rightfix {
  float: right;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
